#BSUB-q High
#BSUB-o {{ outdir }}/{{ probeid }}.log
#BSUB-J {{ probeid }}

{{ outdir }}/aracne.sh -i {{ expfile }} \
             -h {{ probeid }} {% if kerwid %}-k {{ kerwid }} {% endif %} \
             -p {{ p }} \
             -o {{ outdir }}/{{ probeid }}.adj
