#!/usr/bin/perl

#BSUB-q {{ queue }}
#BSUB-o {{ outdir }}/{{ run_id }}.log
#BSUB-J {{ run_id }}
#BSUB -n {{ cores }}


@hosts = split(/ /,$ENV{'LSB_HOSTS'});

@ids = qw/{% for probe in probes %}{{ probe }}
{% endfor %}/;

while (@ids) {
    $id = pop @ids;
    $host = pop @hosts;
    system("lsrun -m $host /home/inmegen/r.garcia/bcnw/enfermos_1/$id.sh &");
}
