#BSUB-q High
#BSUB-o {{ probeid }}.log
#BSUB-J {{ probeid }}

aracne.sh -i {{ expfile }} \
             -h {{ probeid }} {% if kerwid %}-k {{ kerwid }} {% endif %} \
             -p {{ p }} \
             -o {{ outdir }}/{{ probeid }}.adj
